@model System.Guid

<div id="to-be-replaced">
    <form method="post" data-ajax="true" id="form-to-submite"
          onsubmit="NoEv(event)" data-ajax-url="/Client/Deposit" data-ajax-update="#editBid" data-ajax-loading="#loading" data-ajax-mode="replace">

        <input type="hidden" name="accountId" value="@Model" />

        <div class="form-group">
            <label for="value-to-deposit">Value</label>
            <input type="number" class="form-control" name="value" value="" id="value-to-deposit" step=".01" />
        </div>

        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
</div>