@{
    ViewData["Title"] = "LogIn";
}

<div class="container w-50 border m-auto p-3 rounded">
    <h1>LogIn</h1>
    <hr />
    <div class="row justify-content-around" >
        <a href="#" style="text-decoration: none" onclick="func(LoginType.Client)">Client</a>
        <a href="#" style="text-decoration: none" onclick="func(LoginType.Operator)">Operator</a>
    </div>
    <hr />
    <partial name="_LogInClientPartial" />
</div>

@section Scripts {
    <script>
        const LoginType = {
            Client: 'Client',
            Operator: 'Operator'
        };

        function func(loginType) {

            var $detailDiv = $('#login-replace');

            switch (loginType) {
                case LoginType.Operator:
                    $.get('/Account/OperatorLogIn', function (data) {
                        $detailDiv.replaceWith(data);
                        console.log(data)
                    });
                    break;
                case LoginType.Client:
                    $.get('/Account/ClientLogIn', function (data) {
                        $detailDiv.replaceWith(data);
                    });
                    break;
            }
        }
    </script>
}